
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 height: 100vh;
}





 .App ul li button{
  margin: 1rem;
 }

 .completed{
   text-decoration: line-through;
 }

 .active-lang{
background-color: red !important;
color: #ffff !important;
 }

 .dark{
   background-color: #000;
   color: #ffff;
 }

 .dark h1,h2{  
  color: blue !important;
}


 .light{
   background-color: #ddd;
   color: #000;
 }
 .nav-link{
   color: #795548 !important;
 }

 span,p,li{
   color: blue;
 }